.idea/*
target/*
testoutput/*
more-vis-index.iml
out.csv
influxDBResults/*
sqlResults/*
ttiResults/*
rawResults/*
src/main/java/eu/more2020/visual/.DS_Store
src/main/java/eu/more2020/.DS_Store
src/main/java/eu/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
rawResults3.html
rawResults4.html
sqlResults3.html
influxDBResults.html
ttiResults3.html
ttiResults4-1.html
ttiResults4.html
output/*
scripts/output/*
