.idea/*
target/*
testoutput/*
more-vis-index.iml
output*
raw*/*
times*/*
m4*/*
memory/*
metadata/*
src/main/java/eu/more2020/visual/middleware/.DS_Store
src/main/java/eu/more2020/.DS_Store
src/main/java/eu/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
output/*
plots/*
.ipynb_checkpoints/*
.DS_Store
ssims*/*
diffs*
.vscode
*.ipynb
logs_p.log
.DS_Store
logs.log
.DS_Store
